* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    max-width: 1400px;
    margin:0 auto;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    margin: auto;
    display:flex ;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
     box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
    padding: 10px 40px;
    max-width: 1400px;
}
.header   {
    display: flex;
    align-items: center;
}
.header h1 {
    font-family:  'Island Moments', cursive;
    color: #ff7a18;
}
.header ul   {
     display: flex;
    align-items: center;
 
}
.header ul li {
    padding: 0 60px;
    list-style: none;
}
.header ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #000;
}
.header ul li a.active {
    color: #ff7a18;
}

header button {
    background: #ff7a18;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 10px 40px;
    font-size: 12px;
}

/* this is the for the mobile nav bar toggle */
.menu-button {
    display: none;
 }

.main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    padding: 40PX 20PX;
 }
 
.cart-wrapper {
    width: 100%;
}
.cart-page {
    background: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 10px;
    margin-top: 60px;
}
.cart-card {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid #cebcaf;
    border-radius: 10px;
    padding: 0 20px;
    margin: 10px 0;
}
.cart-card img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
   object-fit: cover;
   padding: 5px 0;
}
.cart-content {
    display: flex;  
    align-items: center;
    width: 100%;
}
.cart-text {
    line-height: 2rem;
}

.quantity-wrapper {
    flex: 1;
    display: flex;
    padding-left: 50px;
    width: 100%;
}
.quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
    width: 100%;
}

.price { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;
    width: 100%;
}
.price p {
    color: #ff7a18;
    font-size: 24px;
}
.circle {
    background-color: #9ca3af;
    border:none;
    border-radius: 4px;
    padding: 1px;
}
#cancel {
    background-color: #ff7a18;
    border:none;
    border-radius: 4px;
    padding: 1px;
}


.more-items {
    display: flex;
    align-items: center;
    gap: 10px;
}
.more-items a {
    text-decoration: none;
    color: #1E88E5;
    font-size: 16px;
    padding: 10px 0;
}






 /* footer */
.footer-container {
    background-color: #6e2e00;
    padding: 40px 60px;
    display: flex;
    flex-direction: column; 
    max-width: 1400px;
    margin: 60px auto;
}
.footer {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}
.footer .about {
    margin-right: 70px;
}
.footer h4 {
    color: #ffffff;
    line-height: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 16px;
}
.footer h4 span {
    color: #ff7a18;
    font-family: 'Great Vibes', cursive;
    font-size: 18px;
}
.footer .quick-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 20%;
}
.footer .quick-link h4 {
    color: #ffffff;
    font-size: 18px;
}
.footer .quick-link a {
    text-decoration: none;
    color: #cebcaf;
    font-size: 10px;
}
.footer .contact {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: 20%;
}
.footer .contact p {
    color: #cebcaf;
    font-size: 10px;
}
.footer .contact a {
    text-decoration: none;
    color: #cebcaf;
    font-size: 10px;
}   
.footer .social {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer .social a {
    text-decoration: none;
    color: #cebcaf;
    font-size: 10px;
}
.copyright-footer {
   display: flex;
    align-items: center;
    justify-content: space-between;
}
.copyright-footer p {
    color: #cebcaf;
    font-size: 10px;
}
.copyright-footer svg {
    background-color: #1E88E5;
    border-radius: 50px;
    padding: 6px;
    margin-right: 20px;
}

.mobile-svg {
    display: none;
}


/* mobile screen for cart html */
@media (max-width: 768px) {
header {
        display: none;
    }

.menu-button {
        display: block;
    }
.mobile-svg {
    background: #ffffff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mobile-svg h1 {
    font-size: 24px;
    font-family: 'Island Moments', cursive;
    color: #ff7a18;
}

.main {
    padding: 0 20PX;
}
.cart-card {
    gap: 20px;
    padding: 0 10px;
    margin: 10px 0;
}
.cart-card img {
    width: 110px;
    height: 120px;
}
.cart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.cart-text {
    line-height: 1.5rem;
    margin-top: 10px;
    align-self: flex-start;
}
.cart-text h2 {
    font-size: 16px;
}
.cart-text p {
    font-size: 12px;
}
.quantity-wrapper {
    flex-direction: column;
    padding: 10px 0 10px 0;
    width: 100%;
    gap: 10px;
}
.quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    width: 100%;
}
.quantity h1 {
    font-size: 18px;
}
.quantity svg {
    width: 18px;
    height: 18px;
}
.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    width: 100%;
}
.price p {
    font-size: 18px;
}

#cancel {
    background-color: #000000;

}
    .footer-container {
        display: none;
    }
}














/* This is for cart details */
.hero-details {
    display: flex;
    height: 100%;
    margin-top: 60px;
    background: #dfdfdf;
}
.left {
    width: 50%;
    position: relative;
   overflow: hidden;
}
.left img {
     width: 100%;
    height: 100%;
    object-fit: cover;
}
.right {
    width: 50%; 
    margin: 20px 40px 20px 40px;
}
   
.right-wrapper {
    background: #fff;
    padding: 20px 20px ;
    display: flex;
    flex-direction: column;
    height: 100%;
}
#cancel1 {
    background-color: #000;
    border:none;
    border-radius: 4px;
    padding: 1px;
    align-self: flex-end;
}


.item-name {
    margin-top: 50px;
}   
.item-name h1 {
    font-size: 28px;
    padding-bottom: 10px ;
}
.item-name span {
    font-size: 16px;
    color: #ff7a18;
}
.item-name p {
     font-size: 12px;
     padding-top: 10px;
     color: rgb(75, 75, 75);
}

.timer-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 40px 20px;   
}
.timer {
    display: flex;
    align-items: center;
    gap: 10px;
}
.timer p {
    font-size: 12px;
    color: rgb(75, 75, 75);
}
.timer a {
    text-decoration: none;
    color: #1E88E5
}

.protein h2 {
    font-weight: 200px;
}

.round {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border:5px solid #ff7a18;   
}

.chicken-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #9ca3af;
    width: 100%;
    padding:5px  10px;
    border-radius: 8px;
    margin: 20px 0;
}
.chicken {
    display: flex;
    align-items: center;
    gap: 10px;
  
}
.chicken p {
    font-size: 14px;
}

.round1 {
      width: 30px;
    height: 30px;
    border-radius: 10px;
    border:1px solid #9ca3af;
}

.instructions {
    width: 100%;
    border: 1px solid #9ca3af;
    border-radius: 6px;
    margin-top: 20px;
    line-height: 1.5rem;
    padding: 10px;
    padding: 10px 10px 40px 10px;
}

.instructions p {
    max-width: 450px;
}

.timer-desktop {
    display: flex;
    align-items: center;
}
.timer-mobile {
    display: none;
}


/* mobile screen for cart details page */
@media (max-width: 768px) {
.hero-details {
    display: flex;
    flex-direction: column;
    background: #dfdfdf;
    margin-top: 0;
}

.left {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.left img {
    display: none;
}
.left {
    background-image: url('../img/m6.jpg');
    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.right {
    width: 100%;
    height: 100%;
    margin:0;
}

.right-wrapper {
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.timer-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 700px;
}
.timer {
    background-color: rgb(241, 241, 241);
    padding:5px 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    }
.timer:nth-child(2) {
    flex: 1 1 calc(50% - 15px);
}
.timer p {
    font-size: 16px;
    color: rgb(75, 75, 75);
}

.item-name h1 {
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 10px;
}
.item-name span {
    font-size: 24px;
    font-weight: 600;
}
.item-name p {
    font-size: 16px;
}

.timer-mobile {
    display: flex;
    align-items: center;
}
.timer-desktop {
    display: none;
}

}
