* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    color: #1f2937;
}
button, a {
    cursor: pointer;
}

body{
    background: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    max-width: 1400px;
    margin: auto;
}

.hero {
    display: flex;
    height: 100vh;
}
.left {
    width: 50%;
    position: relative;
    overflow: hidden;
}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right {
    width: 50%;
    background: white;
    padding: 20px 60px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.authentic {
    display: flex;
    justify-content: space-between;
}
.authentic h1 {
    font-family: 'Island Moments', cursive;
    font-size: 28px;
    font-weight: 200;
    color: #ff7a18;
}   
.authentic button {
    background-color: white;
    padding: 10px 30px;
    border: 1px solid #1E88E5;
    border-radius: 8px;
    color: #1E88E5;
}
.authentic a button {
    font-size: 12px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.content h2 {
    font-size: 28px;
}

.content p {
    font-size: 14px;
    color: #1f2937;
    margin: 20px 0;
    line-height: 1rem;
}
.features {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 0px 20px;
    margin-bottom: 10px;
}
.feature {
    display: flex;
    align-items: center;
    gap: 10px;
}
.feature img {
    width: 35px;
    height: 35px;
}

.content  .action-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.content .action-btn a {
    text-decoration: none;
    width: 100%;    
}
.action-btn button {
    width: 100%;
     margin: 10px 0;
    color: #1E88E5;
    padding: 10px 0;
    border: 1px solid #1E88E5;
    border-radius: 8px;
    background-color: white;
}
#order-btn {
    background-color: #ff7a18;
    color: white;
    border: none;
}
.line hr {
    display: block;
     border: 1px solid #eeeeee;
}
.copyright {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}
.copyright p {
    font-size: 12px;
}
.copyright a {
    text-decoration: none;
    color: #64b5f6;
    font-size: 12px;
    margin-bottom: 20px;
}

/* footer */
.footer-container {
    background-color: #6e2e00;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
}
.footer {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}
.footer .about {
    margin-right: 70px;
}
.footer h4 {
    color: #ffffff;
    line-height: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 16px;
}
.footer h4 span {
    color: #ff7a18;
    font-family: 'Island Moments', cursive;
    font-size: 18px;
}
.footer .quick-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 20%;
}
.footer .quick-link h4 {
    color: #ffffff;
    font-size: 18px;
}
.footer .quick-link a {
    text-decoration: none;
    color: #cebcaf;
    font-size: 10px;
}
.footer .contact {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: 20%;
}
.footer .contact p {
    color: #cebcaf;
    font-size: 10px;
}
.footer .contact a {
    text-decoration: none;
    color: #cebcaf;
    font-size: 10px;
}   
.footer .social {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer .social a {
    text-decoration: none;
    color: #cebcaf;
    font-size: 10px;
}
.copyright-footer {
   display: flex;
    align-items: center;
    justify-content: space-between;
}
.copyright-footer p {
    color: #cebcaf;
    font-size: 10px;
}
.copyright-footer svg {
    background-color: #1E88E5;
    border-radius: 50px;
    padding: 6px;
    margin-right: 20px;
}
.mobile-img,
.mobile-btn {
    display: none;
}
#mobile-h1 {
    display: none;
}


/* Mobile Responsiveness for the first page */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        padding: 0 ;
    } 
    .mobile-img {
        display: block;
        height: auto;
        padding: 0 20px;
        background-color: #ffffff;
    }
    .left, .right {
        width: 100%;
    }
    .right {
        justify-content: center;
        padding: 20px;
        height: 100vh;
        position: relative;
    }
    .mobile-btn {
        display: block;
        background-color: white;
        padding: 10px 30px;
        border: 1px solid #1E88E5;
        border-radius: 8px;
        color: #1E88E5;
        font-size: 16px;
        align-self: flex-end;
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px 40px;
    }
    #mobile-h1 {
        display: block;
        align-self: center;
        margin-bottom: 10px;
        margin-top: 20px;
         font-family: 'Great Vibes', cursive;
        font-size: 18px;
        font-weight: 200;
        color: #ff7a18;
    }
    .features {
        grid-template-columns: 1fr;
        width: 100%;
    }   
    .feature {
        justify-content: flex-start;
        background-color: #f3f4f6;
        width: 100%;
        margin: 5px 0;
        padding: 4px 10px;
        border-radius: 8px;
        
    }
    .feature p {
        color: #1f2937;
    }
    .action-btn button {
        padding: 20px 0;
        font-weight: 400;
    }
    #order-btn {
        margin-top: 20px;
    }
    .desktop-btn,
    .line hr,
    .copyright,
    .footer-container,
    .desktop-img,
    .authentic h1 {
        display: none;
    }
}


/* desktop screen for Login Page */
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(255, 122, 0, 0.75);
}
.left-content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    padding: 20px;
}
.left-content h1{
    font-size: 28px;
    margin-bottom: 20px;
}
.left-content p {
    font-size: 16px;
    max-width: 250px;
    color: #ffffff;
}

.right-login {
     width: 50%;
    background: white;
    padding: 20px 60px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.right-login h1 {
      font-family: 'Island Moments', cursive;
        font-size: 28px;
        font-weight: 200;
        color: #ff7a18;
}
.right-login h2 {
    font-size: 18px;
    font-weight: 600;
}

.login-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.login-input {
    width: 100%;
    padding: 20px 40px;
}
.name-input {
    position: relative;
    margin-bottom: 10px;
}
.login-input input {
    width: 100%;
    padding: 10px 40px;
    border: 1px solid gray;
    border-radius: 6px;
    margin-top: 5px;
}
.login-input label {
    font-size: 12px;
}
.name-input svg {
    position: absolute;
    left: 0;
    top: 50%;
    margin: 0 10px;
}

.password-input {
    position: relative;
    
}
.password-input svg {
    position: absolute;
    left: 0;
    top: 50%;
    margin: 0 10px;
}
.password-input img {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 50%;
}

.login-input a {
    font-size: 10px;
    color: #1E88E5;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}
#order-btn1 {
    background-color: #ff7a18;
    color: white;
    border: none;
}
.login-input a button {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-radius:6px;
    font-size: 12px;
}
.login-input p {
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
}
.goo-app a button{
    background: #ffffffff;
    border: 1px solid gray;
    margin: 5px 0;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.create-acct p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.create-acct p a {
    font-size: 12px;
}


/* mobile screen for Login Pages */
@media (max-width: 768px) {
       .hero {
        flex-direction: column;
        padding: 0 ;
    } 
    .right-login {
     width: 100%;
    height: 100%;
    padding: 20px 0;
}
.right-login h1 {
    font-size: 30px;
}
.right-login h2 {
    font-size: 24px;
    font-weight: 600;
}
.name-input {
    margin-bottom: 20px;
}
.name-input svg,
.password-input svg {
    margin: 0 12px;
}
.login-input {
    width: 100%;
    padding: 20px 20px;
}
.login-input label {
    font-size: 14px;
}
.login-input input {
    padding: 20px 40px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 5px;
}
.login-input a {
    margin: 20px 0;
}
#order-btn1 {
    padding: 20px 0;
    border-radius: 10px;
    font-size: 16px;
}
.login-input p {
    font-size: 16px;
}
.goo-app a button {
    font-size: 16px;
}
.create-acct p a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
}
}



/* Desktop screen for sign up page */
.login-input1 {
    width: 100%;
    padding: 0 40px;
}
.login-input1 input {
    width: 100%;
    padding: 10px 40px;
    border: 1px solid gray;
    border-radius: 6px;
    margin-top: 5px;
}
.login-input1 label {
    font-size: 12px;
}

.login-input1 a {
    font-size: 10px;
    color: #1E88E5;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
}
.login-input1 a button {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-radius:6px;
    font-size: 12px;
    border: 1px solid gray;
}
.login-input1 p {
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}
.password-input1 {
    position: relative;
    margin-bottom: 10px;
}
.password-input1 svg {
    position: absolute;
    left: 0;
    top: 50%;
    margin: 0 10px;
}
.password-input1 img {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 50%;
}
.policy {
display: flex;
align-items: center;
font-size: 12px;
gap: 5px;
}
.policy input {
    width: 12px;
    height: 12px;
}
.policy a {
    font-size: 12px;
}
.goo-app1 a button{
    background: #ffffffff;
    border: 1px solid gray;
    margin: 2px 0;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.create-acct {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 12px;
}
.create-acct a {
    font-size: 12px;
}


/* mobile screen for sign up page */
@media (max-width: 768px) {
.password-input1 {
    margin-bottom: 20px;
}
.login-input1 {
    width: 100%;
    padding: 10px 20px;
}
.login-input1 label {
    font-size: 14px;
}
.login-input1 input {
    padding: 20px 40px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 5px;
}
.login-input1 a {
    margin: 20px 0;
}

.login-input1 p {
    font-size: 16px;
}
.goo-app1 a button{
    margin:  0;

}
}

